*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
}
.inline{
    display: inline-block;
}
/* contenuti header */
header{
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-inline: 20px;
    background-color: white;
    height: 50px;
   
    
}
header nav{
    display: flex;
    align-items: baseline;
    height: 100%;
}
header ul li{
    display: inline-block;
    margin-inline: 10px;
    align-items:center;
    line-height: 50px;
}
header ul li:hover{
    border-bottom: 2px solid black;
}

header nav div{
    display: inline-block;
    
}
nav{
    justify-content: space-between;
    height: 50px;
}
.blue-button{
    background-color:#0543ff;
    color: white;
    border-style: none;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.blue-button:hover{
    background-color: #53b7f7;
}


/* contenuti del main  */

main{
   margin-top: 30px;
}
section:not(.section-1, .section-6, .section-7){
    width: 80%;
    margin: 0 auto;
}
#radio{
    margin-block: 30px;
}
.section-1{
    background-color: #a5c5e1;
    padding-top: 50px;
}

main section h1{
    font-size: xxx-large;
}
.w-80{
    width: 80%;
    margin: 0 auto;
}
.w-30{
    flex-basis: 30%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.w-30 a{
    color: black;
    font-size: xxx-large;
    margin-top: 70px;
}
.w-70{
    flex-basis: 70%;
    display: inline-block;
   
}
.prova{
    margin-top: 30px;
    position: relative;
    bottom: -50px;
    
}
section div div button{
    display: block;
    margin-block: 20px;
}
#jumbo{
    width: 600px;
    height: 350px;
   
}

.section-2{
    width: 100%;
    flex-direction: column;
    
    text-align: left;
    padding-top: 100px;
}

.card{
    border: 1px solid lightgray;
    margin: 20px;
    flex-direction: column;
    display: flex;
    height: 800px;

}
.card i{
    margin-right: 10px;
}
.card-text{
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    gap: 25px;
    padding-top: 20px;
}
.card-text hr{
    width: 30%;
}
.tag-card{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.card-text ul li{
    list-style: none;
    margin-left: 10px;
    margin-block: 15px;
}
.last-card{
    border: 1px solid lightgray;
    margin: 20px;
    flex-direction: column;
    display: flex;
    height: 300px;
    
}
.last-card-text{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.card-details{
    flex-direction: column;
    gap: 20px;

}
.card-details p {
    margin-top: 80px;
}
.section-3{
    justify-content: center;
    padding-top: 100px;
    gap: 50px
;
}
.section-3 figure img{
    width: 450px;
    height: 400px;
}
.section-3 div{
    width: 350px;
    padding-top: 50px;
}
.last-card div i{
    margin: 5px;
}
.text-section3{
    flex-direction: column;
    gap: 20px;
}
.grey-button{
    border: 1px solid grey;
    color: grey;
    padding: 15px;
    text-decoration: none;
    width: 150px;
}
.grey-button:hover{
    background-color: lightgrey;
    color: white;
}

.section-4 img{
    width: 80%;
    margin: 0 auto;
    
}
.section-4 {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 100px;
}
.section-4 h2{
    padding-left: 100px;

}
.card-4{
    width:300px ;
    height: 400px;
    margin:20px;
    padding-top: 50px;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    column-gap: 10px;
    flex-basis: calc(100%/3);
    justify-content: center;
    
}
.section-5{
    flex-direction: column;
    gap: 30px;
    padding-block: 100px;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 450px;

}
.box{
    width: 240px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box img{
    width: 100px;
    height: 100px;
}

.box1{
    background-color:#92cc89 ;
    border: 10px solid #c7e5c2 ;
    
}
.box2{
    background-color:#4e0020 ;
}
.box3{
    background-color: #0f80c3;
}
.box4{
    background-color:#fb0017 ;
}
.box5{
    background-color:#c80019 ;
}
.box6{
    background-color:#a5c5e1 ;
}
.box7{
    background-color:#0c146e ;
}
.box8{
    background-color:#ffd125;
}

#central-box{
    width: 480px;
    height: 450px;
    background-color: #f2f2f2;
    padding: 30px;
    overflow: scroll;
    display: flex;
    flex-direction: column ;
    gap: 20px;
    
    
}
#central-box hr{
    width: 30%;
}
#client-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-basis: auto;
}
.section-6{
    width: 100%;
    margin: 0 auto;
}
#over{
    margin-top: 200px;
}
.try-container{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    align-items: center;
    background-color: #a5c5e1;
}
.white-button{
    background-color: white;
    color: grey;
    padding: 10px;
    padding-inline: 50px;
    text-decoration: none;
    width: 150px;
}
.white-button:hover{
    background-color: #53b7f7;
    color: black;
    
}